<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">       
        <script src="https://kit.fontawesome.com/d7e3dee1dc.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>
            Welcome!
        </title>
        <body id="body">
                <div id = "form">
                    <h3>Login!</h3>
                <form action="/emp/login" method="POST">
                    <input class="email"type="email" name="email" placeholder="&#xf2b6;   Email" /><br />
                    <input class="password" type="password" name="password" placeholder="&#xf292; password"/><br />
                    <button class="submit" type="submit">Login <i class="fas fa-arrow-right"></i></button>
                </form>
            </div>
        </body>
    </head>