<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">       
        <script src="https://kit.fontawesome.com/d7e3dee1dc.js" crossorigin="anonymous"></script>

        <title>
            Welcome! 
        </title>
    </head>
        <body id="body">
            <div id = "form">
                <h3>Signup!</h3>
                <form action="/emp/signup" method="POST">
                    <input class="name" type="text" name="name" placeholder="&#61447;   Name" /><br />
                    <input class="email"type="email" name="email" placeholder="&#xf2b6;   Email" /><br />
                    <input class="password" type="password" name="password" placeholder="&#xf292; password"/><br />
                    <button class="submit" type="submit">Register <i class="fas fa-arrow-right"></i></button>
                </form>
            </div>
        </body>
